.App {
  font-family: sans-serif;
  text-align: center;
}

.Breakfast{
  color:black;
  background-color: yellow;
}

.Lunch{
  color:blue;
  background-color: pink;
}


.Dinner{
  color:red;
  background-color: black;
}